* {
    margin: 0;
    padding: 0;
}

h1 {
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(110, 54, 69);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color:rgb(12, 12, 12);
    background-color: rgb(210, 202, 205);
}

#reset-btn {
     padding: 1rem;
     font-size: 1.25rem;
     background-color: antiquewhite;
     color: black;
     border-radius: 1rem;
     border: none;
}

#new-btn {
    padding: 1rem;
     font-size: 1.25rem;
     background-color: antiquewhite;
     color: black;
     border-radius: 1rem;
     border: none;
}

#msg {
    color:  rgb(210, 202, 205);
    font-size: 8vmin;
}

.msg-container {
    height: 120vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:  4rem;
}

.hide {
    display: none;
}